{% extends "layoutEmail.html.twig" %}

{% block title %}
    New episode
{% endblock %}

{% block body %}
    <h1>New episode {{ episode.title }} created</h1>
    <p>Hello, the new episode {{ episode.title }} number {{episode.number}} of season {{episode.season.number}} from
        program {{episode.season.program.title}} has been created on Wild Series</p>
    <p>Summary : {{episode.synopsis }}
{% endblock %}
    


