{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="media">
    <img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
    <div class="media-body">
        <h1 class="mt-0">Saison {{ season.number }} de {{ program.title }}</h1>
        <h2 class="mt-0">Episode {{ episode.number }} : {{ episode.title }}</h2>
        <h3>Résumé :</h3>
        <p>{{ episode.synopsis }}</p>
    </div>
</div>

<h2>Commentaires :</h2>
    
{% for comment in episode.comments %}
    <p>{{ comment.comment }}</p>
    <p>{{ comment.rate }}</p>
    <p>{{ comment.author.email }}</p>
{% endfor %}

{% if app.user %}
    <p>Ajouter un commentaire :</p>
    {% include "comment/_form.html.twig" %}
{% else %}
    <p>Vous devez être connecté pour ajouter un commentaire</p>
{% endif %}

<a href="{{ path('program_index') }}">
    Retour à la liste des programmes
</a>
{% endblock %}